---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-screen max-w-3xl items-center flex justify-center mx-auto">
    <div class="flex-col space-y-1 flex px-5">
      <h1 class="text-6xl font-bold font-instrument-serif mb-6">Rizzky.</h1>
      <p>
        Hi👋. My interests its been a deep on computer science things, which
        encompassing web platform, mobile app, creative coding, game design,
        human computer interaction.
      </p>
      <p class="pt-3">
        And i have 5+ years experience building software. Currently creating
        software for <a
          href="https://en.wikipedia.org/wiki/Web3"
          class="underline">WEB3</a
        > using Rust, Solidity, and Typescript. Which is building <a
          href="https://en.wikipedia.org/wiki/Neobank"
          class="underline">Neobank</a
        > and card payments app also crafting product and tools on LLM or AI things.
      </p>
    </div>
  </div>
</Layout>
