---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-screen items-center justify-center flex">
    <div class="flex-col space-y-1 flex px-5">
      <h1 class="text-6xl font-bold font-instrument-serif">Re: build</h1>
      <p>👋 I'm Software Engineer.</p>
      <p class="pt-3">
        Now I'm building projects on <a
          href="https://en.wikipedia.org/wiki/Web3"
          class="underline">WEB3</a
        > using Rust, Elixir, Solidity, and Typescript.
      </p>

      <p>I will cooking new something in here. Soon 🤟</p>
    </div>
  </div>
</Layout>
