---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-screen items-center justify-center flex">
    <div class="flex-col space-y-1 flex px-3">
      <p>👋 I'm Software Engineer.</p>
      <p>
        Now i building projects on <a
          href="https://en.wikipedia.org/wiki/Web3"
          class="underline">WEB3</a
        > using Rust, Elixir, and Typescript.
      </p>

      <p>I will cooking something in here. Soon!</p>
    </div>
  </div>
</Layout>
