---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-screen max-w-3xl px-5 mt-12 mx-auto">
    <h1 class="text-6xl font-bold font-instrument-serif">Projects</h1>

    <div class="mt-10 gap-y-5 flex-col flex">
      <div>
        <h2
          class="text-5xl font-instrument-serif hover:text-orange-600 duration-300 ease-in-out transition-all"
        >
          <a href="https://kiteapp.xyz" target="_blank">Kite App</a>
        </h2>
        <p class="text-lg mt-3">
          Kite is Stablecoin Neobank built for real life.
        </p>
      </div>
      <div>
        <h2
          class="text-5xl font-instrument-serif hover:text-orange-600 duration-300 ease-in-out transition-all"
        >
          <a href="https://github.com/playriglabs/marqetfi-api" target="_blank"
            >Marqetfi</a
          >
        </h2>
        <p class="text-lg mt-3">
          All in one super app for crypto app. Lightweight and powerful
          Aggregator DEX platform.
        </p>
      </div>
      <div>
        <h2
          class="text-5xl font-instrument-serif hover:text-orange-600 duration-300 ease-in-out transition-all"
        >
          <a href="https://www.ms-pay.io/" target="_blank">MSPay</a>
        </h2>
        <p class="text-lg mt-3">Bridging Neobanking & Blockchain Technology</p>
      </div>
      <div>
        <h2
          class="text-5xl font-instrument-serif hover:text-orange-600 duration-300 ease-in-out transition-all"
        >
          <a href="https://github.com/playriglabs/veln" target="_blank"
            >Veln framework</a
          >
        </h2>
        <p class="text-lg mt-3">
          A minimalistic AI solution built for your next-generation tools for AI
          or multi agents, make it —smooth, simple, and powerful.
        </p>
      </div>
      <div>
        <h2
          class="text-5xl font-instrument-serif hover:text-orange-600 duration-300 ease-in-out transition-all"
        >
          <a
            href="https://github.com/viremontlabs/finai-x402sdk"
            target="_blank">FinAI X402</a
          >
        </h2>
        <p class="text-lg mt-3">
          Software Development Kit x402 for plug, play, and connect for merchant
          on solana.
        </p>
      </div>
    </div>
  </div>
</Layout>
