---
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Analytics />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="I'm Ryy, a software engineer. Against the odds. And love FP."
    />
    <title>Ryy - Software Engineer</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import url(https://fonts.bunny.net/css?family=instrument-serif:400,400i);
  @import url(https://fonts.bunny.net/css?family=schibsted-grotesk:400,500,500i,600,700);

  html,
  body {
    padding: 0;
    background-color: #fbf8ef;
    margin: 0;
    font-family: "Schibsted Grotesk", sans-serif;
    width: 100%;
    height: 100%;
  }
</style>
